= simple_form_for :session, :url => sessions_path do |f|
  = f.input :email, label: t('.email'), error: false
  = f.input :password, label: t('.password'), error: false
  = f.button :submit, t('.sign_in')
