= simple_form_for :user_session, :url => user_sessions_path, :html => {:class => 'form-horizontal' } do |f|
  = f.input :email, label: I18n.t('views.user.email'), error: false
  = f.input :password, label: I18n.t('views.user.password'), error: false
  = f.button :submit
